.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(30, 30, 30);
  height: 100vh;
}

.form {
  height: 500px;
  width: 800px;
  max-width: 1200px;
  background: rgb(59, 59, 59);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 800;
  color: #fff;
  font-size: 28px;
}

.transportOptionContainer {
  margin-top: 15px;
  display: flex;
}

.transportOptionTitle {
  font-weight: 700;
  color: #fff;
  margin-right: 5px;
  margin-top: 7px;
}

.submitButton {
  background: #7159c1;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 60px;
  border: none;
  color: #fff;
  margin-top: 300px;
}

.submitButton:hover {
  transform: scale(1.02);
  cursor: pointer;
}
