.inputLabel {
  color: rgb(56, 55, 55);
}

.dropzone {
  margin-top: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  height: 200px;
  border: none;
  border: 2px dashed rgb(56, 55, 55);
}

.dropzone::-webkit-scrollbar {
  width: 8px;
}

.dropzone::-webkit-scrollbar-thumb {
  background-color: rgb(56, 55, 55);
  border: 2px transparent solid;
  border-radius: 10px;
  background-clip: padding-box;
}

.preview {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 10px 1px rgba(66, 46, 46, 0.5);
}

.preview + .preview {
  margin-top: 10px;
}

.inputLabelWithFiles {
  min-height: 70px;
  margin-left: auto;
}

.inputLabelWithFiles:hover {
  transform: scale(1.02);
}
