.container {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content {
  width: 50%;
  max-width: 800;
}

.contentTitle {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #fff;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createCompanyBtn {
  display: flex;
  text-decoration: none;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #fff;
  color: #fff;
  height: 45px;
  transition: 0.2s ease;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  background: none;

  align-items: center;
  justify-content: space-between;
}

.createCompanyBtn:hover {
  background: #fff;
  color: rgb(39, 176, 255);
  cursor: pointer;
}

.createCompanyBtnIcon {
  font-size: 28px;
  margin-left: 5px;
  margin-top: -3px;
}

.list {
  list-style: none;
}

.listItem {
  width: 100%;
  height: 75px;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgb(39, 176, 255);
  margin-bottom: 20px;

  display: flex;

  align-items: center;
}

.itemLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.listItem:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.itemValue {
  margin-left: 50px;
}

.icon {
  margin-right: 10px;
}

.icon-edit {
  width: 40px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
